*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 5.5;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.box-div3{
    background-color: green;
}

.box-div5{
    background-color: blue;
}

.box-div35{
    background-color: black;
}