body{
    color: black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.box{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.box-div3{
    background-color: green;
}

.box-div5{
    background-color: blue;
}

.box-div35{
    background-color: black;
}